@{
    ViewBag.Title = "HWeather";
}

<h2>ApiStore</h2>
<div ng-app="myApp">
    <div ng-controller="myCtrl">
        <button class="btn btn-default" id="getData">getData</button>
        <button class="btn btn-default" ng-click="GetWeather()">getData by ng</button>

        <div id="result">
            <a id="cityName"></a>
        </div>

        <div ng-repeat="item in HeWeather" class="weatherBlock" ng-model="HeWeather">
             
            <div id="presentContext" ng-if="item.status=='ok'">
                <div class="text-right"><span ng-bind="item.basic.city"></span>  <span ng-bind="item.basic.update.loc"></span></div>
                <div>
                    <span style="font-size:80px;" ><span ng-bind="item.now.tmp"></span>℃</span>
                    <span class="text-right top-right" ng-bind="item.now.cond.txt"></span>
                </div>
                <div>
                    <table class="table table-hover text-center">
                        <tr>
                            <td>风力等级</td>
                            <td>风向(方向)</td>
                            <td>降雨量(mm)</td>
                            <td>湿度(%)</td>
                            <td>气压</td>
                            <td>能见度(km)</td>
                        </tr>
                        <tr>
                            <td ng-bind="item.now.wind.sc"></td>
                            <td ng-bind="item.now.wind.dir"></td>
                            <td ng-bind="item.now.pcpn"></td>
                            <td ng-bind="item.now.hum"></td>
                            <td ng-bind="item.now.pres"></td>
                            <td ng-bind="item.now.vis"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
@section scripts{

    <style>
        .weatherBlock {
            width: 600px;
            min-height: 200px;
            border: 1px #F9EFEF solid;
            box-shadow: 5px 5px 5px #ECECEC;
            border-radius: 5px;
            margin: 5px 0;
            padding: 5px;
        }
    </style>
    <script>

        var app = angular.module("myApp", []);
        app.controller("myCtrl", function ($scope) {

            $scope.GetWeather = function () {
                $.getJSON('/Home/GetWeather', { 'cityName': 'guangzhou' }, function (data) {
                    var obj = data['HeWeather data service 3.0'];
                    $scope.HeWeather = obj;
                });
            };

            $scope.HeWeather = [{ "basic": { "city": "朝阳", "cnty": "中国", "id": "CN101010300", "lat": "39.570000", "lon": "116.290000", "update": { "loc": "2015-12-25 17:05", "utc": "2015-12-25 09:05" } }, "daily_forecast": [{ "astro": { "sr": "07:33", "ss": "16:56" }, "cond": { "code_d": "502", "code_n": "501", "txt_d": "霾", "txt_n": "雾" }, "date": "2015-12-25", "hum": "28", "pcpn": "0.0", "pop": "0", "pres": "1017", "tmp": { "max": "1", "min": "-4" }, "vis": "10", "wind": { "deg": "231", "dir": "无持续风向", "sc": "微风", "spd": "5" } }, { "astro": { "sr": "07:33", "ss": "16:56" }, "cond": { "code_d": "100", "code_n": "101", "txt_d": "晴", "txt_n": "多云" }, "date": "2015-12-26", "hum": "40", "pcpn": "0.0", "pop": "0", "pres": "1026", "tmp": { "max": "4", "min": "-7" }, "vis": "10", "wind": { "deg": "123", "dir": "北风", "sc": "3-4", "spd": "12" } }, { "astro": { "sr": "07:34", "ss": "16:57" }, "cond": { "code_d": "101", "code_n": "100", "txt_d": "多云", "txt_n": "晴" }, "date": "2015-12-27", "hum": "53", "pcpn": "0.0", "pop": "0", "pres": "1036", "tmp": { "max": "-1", "min": "-6" }, "vis": "10", "wind": { "deg": "226", "dir": "无持续风向", "sc": "微风", "spd": "1" } }, { "astro": { "sr": "07:34", "ss": "16:57" }, "cond": { "code_d": "101", "code_n": "104", "txt_d": "多云", "txt_n": "阴" }, "date": "2015-12-28", "hum": "37", "pcpn": "0.0", "pop": "0", "pres": "1034", "tmp": { "max": "2", "min": "-4" }, "vis": "10", "wind": { "deg": "186", "dir": "无持续风向", "sc": "微风", "spd": "1" } }, { "astro": { "sr": "07:34", "ss": "16:58" }, "cond": { "code_d": "104", "code_n": "101", "txt_d": "阴", "txt_n": "多云" }, "date": "2015-12-29", "hum": "40", "pcpn": "0.0", "pop": "0", "pres": "1027", "tmp": { "max": "2", "min": "-5" }, "vis": "10", "wind": { "deg": "141", "dir": "无持续风向", "sc": "微风", "spd": "9" } }, { "astro": { "sr": "07:34", "ss": "16:59" }, "cond": { "code_d": "101", "code_n": "101", "txt_d": "多云", "txt_n": "多云" }, "date": "2015-12-30", "hum": "25", "pcpn": "0.0", "pop": "0", "pres": "1026", "tmp": { "max": "5", "min": "-6" }, "vis": "10", "wind": { "deg": "295", "dir": "无持续风向", "sc": "微风", "spd": "9" } }, { "astro": { "sr": "07:35", "ss": "17:00" }, "cond": { "code_d": "101", "code_n": "100", "txt_d": "多云", "txt_n": "晴" }, "date": "2015-12-31", "hum": "23", "pcpn": "0.0", "pop": "0", "pres": "1024", "tmp": { "max": "4", "min": "-6" }, "vis": "10", "wind": { "deg": "318", "dir": "无持续风向", "sc": "微风", "spd": "4" } }], "hourly_forecast": [{ "date": "2015-12-25 16:00", "hum": "34", "pop": "0", "pres": "1017", "tmp": "4", "wind": { "deg": "218", "dir": "西南风", "sc": "微风", "spd": "8" } }, { "date": "2015-12-25 19:00", "hum": "36", "pop": "0", "pres": "1018", "tmp": "1", "wind": { "deg": "254", "dir": "西南风", "sc": "微风", "spd": "6" } }, { "date": "2015-12-25 22:00", "hum": "36", "pop": "0", "pres": "1018", "tmp": "-4", "wind": { "deg": "327", "dir": "西北风", "sc": "微风", "spd": "8" } }], "now": { "cond": { "code": "502", "txt": "霾" }, "fl": "-6", "hum": "93", "pcpn": "0", "pres": "1016", "tmp": "-3", "vis": "1", "wind": { "deg": "140", "dir": "东南风", "sc": "3-4", "spd": "16" } }, "status": "ok", "suggestion": { "comf": { "brf": "较不舒适", "txt": "白天天气阴沉，您会感觉偏冷，不很舒适，请注意添加衣物，以防感冒。" }, "cw": { "brf": "不宜", "txt": "不宜洗车，未来24小时内有霾，如果在此期间洗车，会弄脏您的爱车。" }, "drsg": { "brf": "冷", "txt": "天气冷，建议着棉服、羽绒服、皮夹克加羊毛衫等冬季服装。年老体弱者宜着厚棉衣、冬大衣或厚羽绒服。" }, "flu": { "brf": "极易发", "txt": "将有一次强降温过程，天气寒冷，且空气湿度较大，极易发生感冒，请特别注意增加衣服保暖防寒。" }, "sport": { "brf": "较不宜", "txt": "有雾或霾且室外很冷，建议适当停止户外运动，选择在室内进行运动，以避免吸入过多雾中有害物质，损害健康。" }, "trav": { "brf": "较不宜", "txt": "空气质量差，不适宜旅游" }, "uv": { "brf": "最弱", "txt": "属弱紫外线辐射天气，无需特别防护。若长期在户外，建议涂擦SPF在8-12之间的防晒护肤品。" } } }];
        });

        $('#getData').click(function () {
            $.getJSON('/Home/GetWeather', { 'cityName': 'guangzhou' }, function (data) {

                var obj = data['HeWeather data service 3.0'];

                $(obj).each(function (i, item) {
                    if (item.status == 'ok') {
                        $('#result').append('<div><a id="cityName">' + item.basic.cnty + ' ' + item.basic.city + '</a></div>')
                    }
                });
            });
        })

    </script>
}

